<html>
  <head>
    <title>Example webrtc.io</title>
    <link type="text/css" href="/css/style.css" rel="stylesheet"></link>
    <script src="/js/webrtc.io.js"></script>
  </head>  
  <body onload="init()">
    <div id="videos">
      <video id="you" class="flip" autoplay width="263" height="200" style="position: absolute; left: 0px; bottom: 0px;"></video>
    </div>
    
  
    <video id="audioTest" autoplay width="263" height="200" controls style="position: absolute; left: 0px; bottom: 0px;"></video>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="/js/RecordRTC.js"></script>
    <script src="/js/script.js"></script>
  
    </body>
</html>