<!doctype html>  
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>0xb, Jonas Lund, 2013</title>
  <meta name="description" content="0xb.org is a single open ended audio channel website, everyone who connects to it can hear everyone else who is connected.">
  <meta name="author" content="0xb, Jonas Lund">

  <link type="text/css" href="/css/style.css" rel="stylesheet"></link>
  <script src="/js/webrtc.io.js"></script>
  
  <meta property="og:title" content="0xb" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="0xb.org is a single open ended audio channel website, everyone who connects to it can hear everyone else who is connected."/>
  <meta property="og:url" content="http://0xb.org/" />
  <meta property="og:image" content="" />

  <!-- 
    0xb.org
    Jonas Lund, 2013 
  -->

</head>  
<body onload="init()">
  <div id="videos">
    <video id="you" class="flip" autoplay width="263" height="200" style="position: absolute; left: 0px; bottom: 0px;"></video>
  </div>
      
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/RecordRTC.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>